extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        
        h1= projectName

        p= description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each val in technologies
            li= val

        a.btn-link(href=`${liveLink}`) Live Demo
        a.btn-link(href=`${githubLink}`) GitHub Repo

    .project-img-box.box
      each url, index in image_urls
        img.project-img(src=`.${image_urls[index]}`, alt=`Thumbnail: ${projectName} image ${index +1}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back